In [1]:
import pandas as pd
from sqlalchemy import create_engine


DATABASE_URL = "postgresql+psycopg2://postgres:Aarush227@localhost:5432/teams_analytics"

engine = create_engine(DATABASE_URL)

sessions = pd.read_sql("SELECT * FROM sessions;", engine)
events = pd.read_sql("SELECT * FROM events_sessionized;", engine)

sessions.head(), events.head()

(    session_id   user_id       session_start         session_end  \
 0  user_21_217   user_21 2025-08-31 04:02:44 2025-08-31 04:21:31
 1  user_132_46  user_132 2025-08-06 13:08:39 2025-08-06 13:08:39
 2  user_41_249   user_41 2025-09-06 12:03:30 2025-09-06 12:03:30
 3  user_133_45  user_133 2025-08-07 21:10:23 2025-08-07 21:10:23
 4  user_10_125   user_10 2025-08-22 04:45:04 2025-08-22 04:45:04

    session_duration_sec  event_count  meeting_count  message_count  \
 0                1127.0            2              0              1
 1                   0.0            1              0              1
 2                   0.0            1              0              0
 3                   0.0            1              0              1
 4                   0.0            1              0              0

    crash_count  avg_latency
 0            0    98.368210
 1            0   126.521052
 2            0   127.061778
 3            0    45.646416
 4            0   133.067140  ,
                                event_id user_id                  ts  \
 0  a1dc9d3f-5251-46c1-9e3c-718e3d721b0a  user_0 2025-08-01 04:29:06
 1  8837fc15-4605-4b88-b5c1-79d61d2d9b36  user_0 2025-08-01 06:24:15
 2  bf0d9b0e-bf9e-4e02-a927-b54c61aa77bb  user_0 2025-08-01 08:47:56
 3  e7a8b093-b304-4f55-ac28-77eefc94935c  user_0 2025-08-01 11:31:35
 4  d761077c-00ba-4f35-a89e-6190ae431906  user_0 2025-08-01 12:48:30

      event_type device_type region  duration_sec  latency_ms  crash session_id
 0  message_sent      mobile   APAC           NaN  184.833754      0   user_0_1
 1  message_sent         web     IN           NaN  109.792513      0   user_0_2
 2      reaction     desktop     US           NaN   92.557948      0   user_0_3
 3  message_sent         web     EU           NaN  137.349904      0   user_0_4
 4      reaction         web     US           NaN  138.301677      0   user_0_5  )

In [2]:

user_features = sessions.groupby("user_id").agg({
    "session_duration_sec": ["mean", "median", "max"],
    "event_count": ["mean", "sum"],
    "meeting_count": ["sum"],
    "message_count": ["sum"],
    "crash_count": ["sum"],
    "avg_latency": ["mean"]
})


user_features.columns = ["_".join(col) for col in user_features.columns]

user_features.reset_index(inplace=True)
user_features.head()

,user_id,session_duration_sec_mean,session_duration_sec_median,session_duration_sec_max,event_count_mean,event_count_sum,meeting_count_sum,message_count_sum,crash_count_sum,avg_latency_mean
0,user_0,172.689873,0.0,2649.0,1.218354,385,38,196,1,120.936485
1,user_1,138.894737,0.0,1718.0,1.164087,376,52,206,1,120.066953
2,user_10,152.753289,0.0,2691.0,1.190789,362,49,187,1,115.964303
3,user_100,214.240132,0.0,4453.0,1.217105,370,41,176,2,118.567421
4,user_101,101.973856,0.0,2494.0,1.147059,351,47,168,2,121.170330

In [3]:
users = pd.read_sql("SELECT * FROM users;", engine)

features = users.merge(user_features, on="user_id", how="left")
features.head()

,user_id,signup_date,user_tier,org_size,session_duration_sec_mean,session_duration_sec_median,session_duration_sec_max,event_count_mean,event_count_sum,meeting_count_sum,message_count_sum,crash_count_sum,avg_latency_mean
0,user_0,2025-02-08,free,small,172.689873,0.0,2649.0,1.218354,385.0,38.0,196.0,1.0,120.936485
1,user_1,2025-01-08,free,small,138.894737,0.0,1718.0,1.164087,376.0,52.0,206.0,1.0,120.066953
2,user_2,2025-01-19,free,small,151.927835,0.0,2634.0,1.161512,338.0,37.0,174.0,1.0,118.209681
3,user_3,2025-02-22,free,medium,173.365132,0.0,3538.0,1.190789,362.0,46.0,176.0,4.0,122.381846
4,user_4,2025-01-22,free,medium,132.264151,0.0,2485.0,1.172956,373.0,50.0,193.0,0.0,122.218568

In [4]:
features.to_csv(r"C:\Users\Diya\Downloads\teams-engagement-project\data\features.csv", index=False)
features.to_parquet(r"C:\Users\Diya\Downloads\teams-engagement-project\data\features.parquet")